@import 'tailwindcss';

@theme {
  --color-link: #646cff;
  --color-link-hover: #535bf2;

  --color-highlight: var(--color-emerald-700);
  --color-highlight-secondary: var(--color-emerald-500);

  --color-error: var(--color-rose-600);
  --color-error-secondary: var(--color-red-800);

  --color-background: var(--color-neutral-950);
  --color-foreground: var(--color-zinc-200);
  --color-contrast: var(--color-zinc-500);
  --color-button: #1a1a1a;
  --color-panel: var(--color-neutral-800);
  --color-inert: var(--color-stone-900);

  --animate-flow: flow 4s infinite ease-in-out;

  --animate-flow-reverse: flow 4s infinite reverse ease-in-out;

  @keyframes flow {
    0% {
      transform: translateX(calc(200%));
    }

    40% {
      transform: translateX(0%);
    }

    60% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(calc(-200%));
    }
  }
}

@layer theme {
  @media (prefers-color-scheme: light) {
    :root {
      --color-link: #0584da;
      --color-link-hover: #535bf2;

      --color-background: var(--color-neutral-100);
      --color-foreground: var(--color-slate-900);
      --color-contrast: var(--color-slate-500);

      --color-button: var(--color-slate-400);
      --color-panel: var(--color-neutral-200);
      --color-inert: var(--color-stone-400);

      --color-highlight: var(--color-emerald-300);
      --color-highlight-secondary: var(--color-emerald-200);
    }
  }
}

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-foreground);
    background-color: var(--color-background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0 auto;
  }

  a {
    color: var(--color-link);
  }

  a:hover {
    color: var(--color-link-hover);
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-button);
    cursor: pointer;
    transition: border-color 0.25s;
  }

  button:hover {
    border-color: var(--link-color);
  }

  textarea {
    @apply min-h-10 max-h-28;
  }

  button:disabled {
    @apply bg-inert;
  }

  title {
    @apply text-4xl tracking-tight;
  }

  h1 {
    @apply text-3xl tracking-wider leading-8;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-lg;
  }
}

@layer components {
  .link {
    @apply border p-2 rounded-md border-link;
  }

  .icon {
    @apply size-10 p-1 cursor-pointer disabled:cursor-not-allowed dark:invert;
  }

  .skeleton-bar {
    @apply bg-linear-to-r from-zinc-500 to-zinc-800 animate-pulse rounded-md h-2.5 w-4;
  }

  .input-field {
    @apply border border-contrast rounded-md px-2 py-1 disabled:bg-inert disabled:cursor-not-allowed;
  }

  .border-light {
    @apply border border-contrast rounded-lg;
  }

  .border-thick {
    @apply border-2 border-contrast rounded-lg;
  }

  .dropdown-item {
    @apply cursor-pointer px-2 py-1 hover:bg-contrast rounded-md text-sm;
  }

  .highlight {
    @apply hover:border hover:border-highlight transition-colors duration-300;
  }

  .panel {
    @apply p-2 bg-panel;
  }

  .entry-chip {
    @apply flex flex-row gap-4 w-full justify-between px-4 py-5 bg-panel border border-contrast rounded-lg;
  }

  .split-column {
    @apply grid grid-cols-[100px_auto] gap-y-2 gap-x-4 items-center auto-rows-min;
  }

  .highlight-checked {
    @apply has-checked:border-highlight has-checked:bg-highlight/40 hover:border-highlight-secondary hover:bg-highlight/80;
  }

  .highlight-peer {
    @apply: peer-checked:border-highlight peer-checked:bg-highlight/40;
  }
}
